.nav-top, .nav-projects {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between;
}

.nav-top img {
    display: flex;
    align-self: flex-start;
}

.nav-list-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow; 
    list-style: none;
}

.nav-projects {
    justify-content: center;
    background-color: cadetblue;
}

.nav-list-projects {
    display: flex;
    list-style: none;
}

.nav-list-top li, .nav-list-projects li {
    margin: 0px 20px 0px 20px;
}

